
XVrII/x64/

*.user

XPSDK/*
!XPSDK/extract_the_xplane_sdk_here.txt

VrInsightPlugin/\.vs/
VrInsightPlugin/x64/*

*.db

PluginHost/x64/

*.sdf

Output/*
!Output/plugin_files_go_here.txt

TestFramework/VrIITester/x64/*
TestFramework/XPLM_stub/x64/*


*.opendb

*.pdb

*.tlog

*.cache
